@import "tailwindcss";

#spinner {
  visibility: hidden;
  width: 20px;
  height: 20px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #000000;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
